*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-app{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #FFF5E0;
    gap: 10px;
    font-size: 5vh;
}

button{
    background-color: black;
    color: white;
    padding: 0px 10px;
    border-radius: 20px;
    font-size: 0.5em;
    
}
p{
    font-size: 1.5rem;
}
input{
    width: 300px;
    height: 5vh;
    font-size: 0.5em;
    border-radius: 30px;
    padding-left: 20px;
}

.weather-card{
    background-color: #FF008E;
    border-radius: 20px;
    padding: 5vh;
    color: #0C1E7F;
    font-size: 0.5em;

}